    * {
        background-color: black;
    }

    #titulos {
        text-decoration: underline;
        text-align: center;
        color: red;
    }

    span {
        color: darkcyan;
    }

    li {
        color: red;
    }

    #subtema {
        color: yellowgreen;
        text-decoration: underline;
    }

    p {
        color: white;
        text-align: justify;
    }