<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descuento por Bolilla</title>
</head>
<body>
    <form action="../index.php" method="post">
        <h3>Monto de Compra:</h3>
        <input type="number" name="montoCompra" id="montoCompra" required>
        <h3>Elija el color de la bolilla:</h3>
        <select name="colorBolilla" id="colorBolilla" required>
            <option value="Blanca">Blanca</option>
            <option value="Amarilla">Amarilla</option>
            <option value="Naranja">Naranja</option>
            <option value="Azul">Azul</option>
            <option value="Roja">Roja</option>
        </select>
        <button type="submit" name="calcular">CALCULAR</button>
    </form>
</body>
</html>
