<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Operaciones</title>
</head>
<body>
    
    <form action="../index.php" method="post">
        Número 1: <input type="number" min="0" id="num_ejc1" name="num_ejc1"> <br><br>
        Número 2: <input type="number" min="0" id="num_ejc2" name="num_ejc2"> <br><br>
        <input type="submit" value="CALCULAR" name="calcular_ejc1"> <br><br>
    </form>

</body>
</html>