body {
    background-color: #141a18;
}

h1 {
    color: #00FF9E;
    font-family: "M PLUS 1 Code", monospace;
    text-decoration: underline;
}

h2 {
    color: white;
    font-family: "M PLUS 1 Code", monospace;
    font-weight: 450;
}

h3 {
    color: #609F87;
    font-family: "M PLUS 1 Code", monospace;
    font-weight: 350;
}

h5 {
    font-family: "M PLUS 1 Code", monospace;
    font-weight: 340;
    text-decoration: underline;
}

div {
    color: white;
    font-family: "M PLUS 1 Code", monospace;
}